# Local development configuration
# Copy this file to .env

# Path to synapse-web-monorepo relative to this project
SRC_MONOREPO_PATH="../synapse-web-monorepo/packages/synapse-react-client"

# PAT for admin user on the backend dev stack for e2e tests
ADMIN_PAT="your_admin_pat_here"