// icon overrides

.fa {
  vertical-align: middle;
}
.fa.fa-plus:before {
  font-family: "Material Icons";
  content: "add";
}
.fa.syn-file:before {
  font-family: "Material Icons";
  content: "insert_drive_file";
}
.fa.fa-folder:before {
  font-family: "Material Icons";
  content: "folder";
}
.fa.fa-gear:before {
  font-family: "Material Icons";
  content: "settings";
}
.fa.fa-globe:before {
  font-family: "Material Icons";
  content: "public";
}
.fa.fa-edit:before, .fa.fa-pencil:before {
  font-family: "Material Icons";
  content: "edit";
}
.fa.fa-link:before {
  font-family: "Material Icons";
  content: "link";
}
.fa.fa-upload:before {
  font-family: "Material Icons";
  content: "cloud_upload";
}
.fa.fa-clipboard:before {
  font-family: "Material Icons";
  content: "content_copy";
}
.fa.fa-plus-square-o:before, .fa.fa-plus-o:before {
  font-family: "Material Icons";
  content: "add_circle_outline";
}
.fa.fa-lock:before {
  font-family: "Material Icons";
  content: "lock";
}
.fa.syn-question-circle:before {
  font-family: "Material Icons";
  content: "help_outline";
}
.fa.syn-info-circle:before {
  font-family: "Material Icons";
  content: "info_outline";
}
.fa.fa-sign-out:before {
  font-family: "Material Icons";
  content: "exit_to_app";
}
.fa.fa-envelope-o:before {
  font-family: "Material Icons";
  content: "mail_outline";
}
.fa.fa-times-circle:before {
  font-family: "Material Icons";
  content: "delete";
}
.fa.syn-check:before {
  font-family: "Material Icons";
  content: "check";
}

.fa.fa-newspaper-o:before {
  font-family: "Material Icons";
  content: "article";
}
.fa.syn-star:before {
  font-family: "Material Icons";
  content: "star";
}
.fa.syn-star-o:before {
  font-family: "Material Icons";
  content: "star_border";
}
.fa.fa-bar-chart:before {
  font-family: "Material Icons";
  content: "bar_chart";
}
.fa.fa-flag:before {
  font-family: "Material Icons";
  content: "flag";
}
.fa.fa-history:before {
  font-family: "Material Icons";
  content: "history";
}
.fa.fa-filter:before {
  font-family: "Material Icons";
  content: "filter_alt";
}
.fa.fa-thumb-tack:before {
  font-family: "Material Icons";
  content: "push_pin";
}
.fa.fa-eye:before {
  font-family: "Material Icons";
  content: "visibility";
}
.fa.fa-eye-slash:before {
  font-family: "Material Icons";
  content: "visibility_off";
}
.fa.fa-bold:before {
  font-family: "Material Icons";
  content: "format_bold";
}
.fa.fa-italic:before {
  font-family: "Material Icons";
  content: "format_italic";
}
.fa.fa-italic:before {
  font-family: "Material Icons";
  content: "format_italic";
}
.fa.fa-strikethrough:before {
  font-family: "Material Icons";
  content: "format_strikethrough";
}
.fa.fa-subscript:before {
  font-family: "Material Icons";
  content: "subscript";
}
.fa.fa-superscript:before {
  font-family: "Material Icons";
  content: "superscript";
}
.fa.fa-camera:before {
  font-family: "Material Icons";
  content: "image";
}
.fa.fa-user-plus:before {
  font-family: "Material Icons";
  content: "person_add_alt";
}