@use 'material-ui-font';
@use 'core' as swc;
@use '../css/bootstrap-custom-theme.min.css';

// Include the source synapse-react-client SCSS files after the minified build so styles that include our variable
// overrides take higher priority
@use 'synapse-react-client/style/main.scss' with (
  $primary-action-color: swc.$synapse-blue,
  $secondary-action-color: swc.$synapse-green,
  $primary-color-palette: swc.$synapse-primary-color-palette,
  $secondary-color-palette: swc.$synapse-secondary-color-palette
);
@use 'synapse-react-client/template_style/Index.scss';
