@use 'material-ui-font';
@use 'core' as swc;
@use '../css/bootstrap-custom-theme.min.css';

// We load the minified CSS for SRC because it contains styles that are not in the SCSS build. These missing styles were
// imported in JSX/TSX and loaded through Webpack. Our Rollup config identifies these loaded CSS files and puts them into CSS.
// We **do** use the Rollup JavaScript build, so we rely on these styles to be loaded.
@use 'node_modules/synapse-react-client/dist/umd/synapse-react-client.production.styles.css';

// Load the SCSS build after the minified build so styles with overrides take higher priority
@use 'node_modules/synapse-react-client/dist/style/main.scss' with (
  $primary-action-color: swc.$synapse-blue,
  $secondary-action-color: swc.$synapse-green,
  $primary-color-palette: swc.$synapse-primary-color-palette,
  $secondary-color-palette: swc.$synapse-secondary-color-palette,
  $bootstrap-4-danger-bg: swc.$synapse-red-error,
  $bootstrap-4-danger-text-color: white
);
@use 'node_modules/synapse-react-client/dist/template_style/Index.scss';
