@use 'material-ui-font';
@use 'core' as swc;
@use '../css/bootstrap-custom-theme.min.css';

// Even though we are loading the source Sass stylesheets from synapse-react-client below, we first load the minified
// CSS for SRC because it contains styles that are not in the distributed source SCSS. The missing styles were imported
// in TypeScript/TSX files and loaded + compiled by Vite, so Sass never compiled them. The synapse-react-client bundle
// step includes these styles in this minified CSS file.
@use 'synapse-react-client/dist/style.css';

// Include the source synapse-react-client SCSS files after the minified build so styles that include our variable
// overrides take higher priority
@use 'synapse-react-client/dist/style/main.scss' with (
  $primary-action-color: swc.$synapse-blue,
  $secondary-action-color: swc.$synapse-green,
  $primary-color-palette: swc.$synapse-primary-color-palette,
  $secondary-color-palette: swc.$synapse-secondary-color-palette
);
@use 'synapse-react-client/dist/template_style/Index.scss';
