.colored { color:#0099ff;}
.link { color:#0099ff;}
.color-line { background:#0099ff}
a.button_readmore:hover {
	background-color:#0099ff;
}
.new-item { 
	background-color:#0099ff;
}
.featured { 
	background-color:#0099ff;
}
.more{
	background-color:#0099ff;
}
.ca-more{
	background-color:#0099ff;
}
.ca-close{
	background-color:#0099ff;
}
.ca-item .title { 
	background-color:#0099ff;
}
.mega-button {
	background-color:#0099ff;
}
.ca-content .live {
	background-color:#0099ff;
}

.ca-content .buy {
	background-color:#0099ff;
}
.va-slice h3:hover{
	color:#0099ff;
}
.va-slice ul li a{
	background:#0099ff;
}
.va-more{
	background-color:#0099ff;
}