.colored { color:#00CC66;}
.link { color:#00CC66;}
.color-line { background:#00CC66}
a.button_readmore:hover {
	background-color:#00CC66;
}
.new-item { 
	background-color:#00CC66;
}
.featured { 
	background-color:#00CC66;
}
.more{
	background-color:#00CC66;
}
.ca-more{
	background-color:#00CC66;
}
.ca-close{
	background-color:#00CC66;
}
.ca-item .title { 
	background-color:#00CC66;
}
.mega-button {
	background-color:#00CC66;
}
.ca-content .live {
	background-color:#00CC66;
}

.ca-content .buy {
	background-color:#00CC66;
}
.va-slice h3:hover{
	color:#00CC66;
}
.va-slice ul li a{
	background:#00CC66;
}
.va-more{
	background-color:#00CC66;
}