.colored { color:#339933;}
.link { color:#339933;}
.color-line { background:#339933;}
a.button_readmore:hover {
	background-color:#339933;
}
.new-item { 
	background-color:#339933;
}
.featured { 
	background-color:#339933;
}
.more{
	background-color:#339933;
}
.ca-more{
	background-color:#339933;
}
.ca-close{
	background-color:#339933;
}
.ca-item .title { 
	background-color:#339933;
}
.mega-button {
	background-color:#339933;
}
.ca-content .live {
	background-color:#339933;
}

.ca-content .buy {
	background-color:#339933;
}
.va-slice h3:hover{
	color:#339933;
}
.va-slice ul li a{
	background:#339933;
}
.va-more{
	background-color:#339933;
}