.colored { color:#6633CC;}
.link { color:#6633CC;}
.color-line { background:#6633CC}
a.button_readmore:hover {
	background-color:#6633cc;
}
.new-item { 
	background-color:#6633CC;
}
.featured { 
	background-color:#6633CC;
}
.more{
	background-color:#6633CC;
}
.ca-more{
	background-color:#6633CC;
}
.ca-close{
	background-color:#6633CC;
}
.ca-item .title { 
	background-color:#6633CC;
}
.mega-button {
	background-color:#6633CC;
}
.ca-content .live {
	background-color:#6633CC;
}

.ca-content .buy {
	background-color:#6633CC;
}
.va-slice h3:hover{
	color:#6633CC;
}
.va-slice ul li a{
	background:#6633CC;
}
.va-more{
	background-color:#6633CC;
}