.colored { color:#669933;}
.link { color:#669933;}
.color-line { background:#669933}
a.button_readmore:hover {
	background-color:#669933;
}
.new-item { 
	background-color:#669933;
}
.featured { 
	background-color:#669933;
}
.more{
	background-color:#669933;
}
.ca-more{
	background-color:#669933;
}
.ca-close{
	background-color:#669933;
}
.ca-item .title { 
	background-color:#669933;
}
.mega-button {
	background-color:#669933;
}
.ca-content .live {
	background-color:#669933;
}

.ca-content .buy {
	background-color:#669933;
}
.va-slice h3:hover{
	color:#669933;
}
.va-slice ul li a{
	background:#669933;
}
.va-more{
	background-color:#669933;
}