.colored { color:#9900CC;}
.link { color:#9900CC;}
.color-line { background:#9900CC}
a.button_readmore:hover {
	background-color:#9900cc;
}
.new-item { 
	background-color:#9900CC;
}
.featured { 
	background-color:#9900CC;
}
.more{
	background-color:#9900CC;
}
.ca-more{
	background-color:#9900CC;
}
.ca-close{
	background-color:#9900CC;
}
.ca-item .title { 
	background-color:#9900CC;
}
.mega-button {
	background-color:#9900CC;
}
.ca-content .live {
	background-color:#9900CC;
}

.ca-content .buy {
	background-color:#9900CC;
}
.va-slice h3:hover{
	color:#9900CC;
}
.va-slice ul li a{
	background:#9900CC;
}
.va-more{
	background-color:#9900CC;
}