.colored { color:#993300;}
.link { color:#993300;}
.color-line { background:#993300}
a.button_readmore:hover {
	background-color:#993300;
}
.new-item { 
	background-color:#993300;
}
.featured { 
	background-color:#993300;
}
.more{
	background-color:#993300;
}
.ca-more{
	background-color:#993300;
}
.ca-close{
	background-color:#993300;
}
.ca-item .title { 
	background-color:#993300;
}
.mega-button {
	background-color:#993300;
}
.ca-content .live {
	background-color:#993300;
}

.ca-content .buy {
	background-color:#993300;
}
.va-slice h3:hover{
	color:#993300;
}
.va-slice ul li a{
	background:#993300;
}
.va-more{
	background-color:#993300;
}