.colored { color:#CC3366;}
.link { color:#CC3366;}
.color-line { background:#CC3366}
a.button_readmore:hover {
	background-color:#cc3366;
}
.new-item { 
	background-color:#CC3366;
}
.featured { 
	background-color:#CC3366;
}
.more{
	background-color:#CC3366;
}
.ca-more{
	background-color:#CC3366;
}
.ca-close{
	background-color:#CC3366;
}
.ca-item .title { 
	background-color:#CC3366;
}
.mega-button {
	background-color:#CC3366;
}
.ca-content .live {
	background-color:#CC3366;
}

.ca-content .buy {
	background-color:#CC3366;
}
.va-slice h3:hover{
	color:#CC3366;
}
.va-slice ul li a{
	background:#CC3366;
}
.va-more{
	background-color:#CC3366;
}