.colored { color:#CCCC33;}
.link { color:#CCCC33;}
.color-line { background:#CCCC33}
a.button_readmore:hover {
	background-color:#cccc33;
}
.new-item { 
	background-color:#CCCC33;
}
.featured { 
	background-color:#CCCC33;
}
.more{
	background-color:#CCCC33;
}
.ca-more{
	background-color:#CCCC33;
}
.ca-close{
	background-color:#CCCC33;
}
.ca-item .title { 
	background-color:#CCCC33;
}
.mega-button {
	background-color:#CCCC33;
}
.ca-content .live {
	background-color:#CCCC33;
}

.ca-content .buy {
	background-color:#CCCC33;
}
.va-slice h3:hover{
	color:#CCCC33;
}
.va-slice ul li a{
	background:#CCCC33;
}
.va-more{
	background-color:#CCCC33;
}