.colored { color:#FF9933;}
.link { color:#FF9933;}
.color-line { background:#FF9933}
a.button_readmore:hover {
	background-color:#ff9933;
}
.new-item { 
	background-color:#FF9933;
}
.featured { 
	background-color:#FF9933;
}
.more{
	background-color:#FF9933;
}
.ca-more{
	background-color:#FF9933;
}
.ca-close{
	background-color:#FF9933;
}
.ca-item .title { 
	background-color:#FF9933;
}
.mega-button {
	background-color:#FF9933;
}
.ca-content .live {
	background-color:#FF9933;
}

.ca-content .buy {
	background-color:#FF9933;
}
.va-slice h3:hover{
	color:#FF9933;
}
.va-slice ul li a{
	background:#FF9933;
}
.va-more{
	background-color:#FF9933;
}