.colored { color:#FFCC00;}
.link { color:#FFCC00;}
.link, .link:visited, .link:hover {  color:#FFCC00; }
.color-line { background:#FFCC00}
a.button_readmore:hover {
	background-color:#ffcc00;
}
.new-item { 
	background-color:#FFCC00;
}
.featured { 
	background-color:#FFCC00;
}
.more{
	background-color:#FFCC00;
}
.ca-more{
	background-color:#FFCC00;
}
.ca-close{
	background-color:#FFCC00;
}
.ca-item .title { 
	background-color:#FFCC00;
}
.mega-button {
	background-color:#FFCC00;
}
.ca-content .live {
	background-color:#FFCC00;
}

.ca-content .buy {
	background-color:#FFCC00;
}
.va-slice h3:hover{
	color:#FFCC00;
}
.va-slice ul li a{
	background:#FFCC00;
}
.va-more{
	background-color:#FFCC00;
}