.colored { color:#006699;}
.link { color:#006699;}
.color-line { background:#006699}
a.button_readmore:hover {
	background-color:#006699;
}
.new-item { 
	background-color:#006699;
}
.featured { 
	background-color:#006699;
}
.more{
	background-color:#006699;
}
.ca-more{
	background-color:#006699;
}
.ca-close{
	background-color:#006699;
}
.ca-item .title { 
	background-color:#006699;
}
.mega-button {
	background-color:#006699;
}
.ca-content .live {
	background-color:#006699;
}

.ca-content .buy {
	background-color:#006699;
}
.va-slice h3:hover{
	color:#006699;
}
.va-slice ul li a{
	background:#006699;
}
.va-more{
	background-color:#006699;
}