.colored { color:#04bfea;}
.link { color:#04bfea;}
.color-line { background:#04bfea}
a.button_readmore:hover {
	background-color:#04bfea;
}
.new-item { 
	background-color:#04bfea;
}
.featured { 
	background-color:#04bfea;
}
.more{
	background-color:#04bfea;
}
.ca-more{
	background-color:#04bfea;
}
.ca-close{
	background-color:#04bfea;
}
.ca-item .title { 
	background-color:#04bfea;
}
.mega-button {
	background-color:#04bfea;
}
.ca-content .live {
	background-color:#04bfea;
}

.ca-content .buy {
	background-color:#04bfea;
}
.va-slice h3:hover{
	color:#04bfea;
}
.va-slice ul li a{
	background:#04bfea;
}
.va-more{
	background-color:#04bfea;
}