.colored { color:#66CC66;}
.link { color:#66CC66;}
.color-line { background:#66CC66}
a.button_readmore:hover {
	background-color:#66cc66;
}
.new-item { 
	background-color:#66CC66;
}
.featured { 
	background-color:#66CC66;
}
.more{
	background-color:#66CC66;
}
.ca-more{
	background-color:#66CC66;
}
.ca-close{
	background-color:#66CC66;
}
.ca-item .title { 
	background-color:#66CC66;
}
.mega-button {
	background-color:#66CC66;
}
.ca-content .live {
	background-color:#66CC66;
}

.ca-content .buy {
	background-color:#66CC66;
}
.va-slice h3:hover{
	color:#66CC66;
}
.va-slice ul li a{
	background:#66CC66;
}
.va-more{
	background-color:#66CC66;
}