@font-face {
    font-family: "SynapseIcons";
    src: url("./SynapseIcons.eot?dcee2bf2acfcb6a3436584514ff749f0?#iefix") format("embedded-opentype"),
url("./SynapseIcons.woff2?dcee2bf2acfcb6a3436584514ff749f0") format("woff2"),
url("./SynapseIcons.woff?dcee2bf2acfcb6a3436584514ff749f0") format("woff"),
url("./SynapseIcons.ttf?dcee2bf2acfcb6a3436584514ff749f0") format("truetype"),
url("./SynapseIcons.svg?dcee2bf2acfcb6a3436584514ff749f0#SynapseIcons") format("svg");
}

i {
    line-height: 1;
}

i[class^="syn-"]:before, i[class*=" syn-"]:before {
    font-family: SynapseIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.syn-check-circle:before {
    content: "\f101";
}
.syn-check:before {
    content: "\f102";
}
.syn-chevron-down:before {
    content: "\f103";
}
.syn-chevron-up:before {
    content: "\f104";
}
.syn-close:before {
    content: "\f105";
}
.syn-crash-helmet:before {
    content: "\f106";
}
.syn-database:before {
    content: "\f107";
}
.syn-download:before {
    content: "\f108";
}
.syn-ellipsis-v:before {
    content: "\f109";
}
.syn-file:before {
    content: "\f10a";
}
.syn-folder-plus:before {
    content: "\f10b";
}
.syn-info-circle:before {
    content: "\f10c";
}
.syn-loading:before {
    content: "\f10d";
}
.syn-lock-open:before {
    content: "\f10e";
}
.syn-logo:before {
    content: "\f10f";
}
.syn-minus-circle:before {
    content: "\f110";
}
.syn-question-circle:before {
    content: "\f111";
}
.syn-search:before {
    content: "\f112";
}
.syn-sort:before {
    content: "\f113";
}
.syn-star-o:before {
    content: "\f114";
}
.syn-star:before {
    content: "\f115";
}
.syn-timer:before {
    content: "\f116";
}
.syn-trash-o:before {
    content: "\f117";
}
.syn-warning:before {
    content: "\f118";
}
