.colored { color:#3a5bdc;}
.link { color:#3a5bdc;}
.link, .link:visited, .link:hover {  color:#3a5bdc; }
a {color:#3a5bdc;text-decoration:none;}
a:visited{color:#3a5bdc; text-decoration:none;}
a:hover{color:#3a5bdc; text-decoration:underline;}
a:focus{color:#3a5bdc; text-decoration:underline;}

.pagination>li>a, .pagination>li>span
{
	color: #3a5bdc;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
{
	background-color: #3a5bdc;
	border-color:#3a5bdc;
}
.btn-link {
	color: #3a5bdc;
}
.color-line { background:#FFCC00;}
a.button_readmore:hover {
	background-color:#ffcc00;
}
.new-item { 
	background-color:#FFCC00;
}
.featured { 
	background-color:#FFCC00;
}
.more{
	background-color:#FFCC00;
}
.ca-more{
	background-color:#FFCC00;
}
.ca-close{
	background-color:#FFCC00;
}
.ca-item .title { 
	background-color:#FFCC00;
}
.mega-button {
	background-color:#FFCC00;
}
.ca-content .live {
	background-color:#FFCC00;
}

.ca-content .buy {
	background-color:#FFCC00;
}
.va-slice h3:hover{
	color:#FFCC00;
}
.va-slice ul li a{
	background:#FFCC00;
}
.va-more{
	background-color:#FFCC00;
}

/* Bootstrap overrides */
.btn-primary {
	color: #fff !important;
}

a.btn-primary {
	color: #fff !important;
}