.colored { color:#1e7098;}
.link { color:#1e7098;}
.link, .link:visited, .link:hover {  color:#1e7098; }
a {color:#1e7098;text-decoration:none;}
a:visited{color:#1e7098; text-decoration:none;}
a:hover{color:#1e7098; text-decoration:underline;}
a:focus{color:#1e7098; text-decoration:underline;}
.synapse-yellow {color:#68b2bb;}
.synapse-blue {color:#1e7098;}
.synapse-purple {color:#7772b4;}
.synapse-green {color:#0ea862;}

.synapse-yellow-bg {background-color:#68b2bb;}
.synapse-blue-bg {background-color:#1e7098;}
.synapse-purple-bg {background-color:#7772b4;}
.synapse-green-bg {background-color:#0ea862;}

.pagination>li>a, .pagination>li>span
{
	color: #1e7098;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
{
	background-color: #1e7098;
	border-color:#1e7098;
}
.btn-link {
	color: #1e7098;
}

a.button_readmore:hover {
	background-color:#ffcc00;
}
.new-item { 
	background-color:#FFCC00;
}
.featured { 
	background-color:#FFCC00;
}
.more{
	background-color:#FFCC00;
}
.ca-more{
	background-color:#FFCC00;
}
.ca-close{
	background-color:#FFCC00;
}
.ca-item .title { 
	background-color:#FFCC00;
}
.mega-button {
	background-color:#FFCC00;
}
.ca-content .live {
	background-color:#FFCC00;
}

.ca-content .buy {
	background-color:#FFCC00;
}
.va-slice h3:hover{
	color:#FFCC00;
}
.va-slice ul li a{
	background:#FFCC00;
}
.va-more{
	background-color:#FFCC00;
}

/* Bootstrap overrides */
.btn-primary {
	color: #fff !important;
}

a.btn-primary {
	color: #fff !important;
}