/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
/* h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
} */

.sf-j-menu {
	float: right !important;
	margin-bottom: 1em;
	margin-top: 2em;
	font-size:10px;
	font-family:Oswald;
}

.sf-j-menu td {
	padding: 5px 0px 4px 15px;
	vertical-align: middle !important;
}

.header-inner-commands-container {
	border-radius: 0.2em;
}


.header-inner-commands-container td {
	padding: 3px 0px 3px 7px;
}

.header-username-picture-container {
	border: solid #ccc;
	border-width:0.1em;
	border-radius:0.4em;
}
.header-username-picture-container td {
	padding: 2px 4px 2px 3px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.cellTableHyperLinkColumn {
	border: 1px solid black;
	font-size: 2em;
	font-weight: bold;
	color: blue;
	text-align: right;
}

.datasetLayerColumn {
	text-align: left;
	width: 0px;
}

.mainPageHeader {
	border: 1px solid black;
	padding: 10px;
}

.mainPageLoading {
	border: 0;
	padding: 10px;
}

.boldRight {
	text-align: left;
	width: 100px;
	color: #939598;
	font-size: 11px;
}

.downloadLink,.downloadLink:hover,.downloadLink:visited { text-decoration:underline; margin-left:5px;}

/* header links. transition from grey to black on hover, don't underline */
.headerLink { font-weight: bold; color: #6e6e6e; padding: 0px 2px 0px 4px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s; }
.headerLink:hover { color: #BC3226; text-decoration:none; }

.headerUsernameLink { 
	font-weight: bold; 
	color: #6e6e6e !important; 
	padding: 0px 2px 0px 0px; 
	text-align: left;
}

.usernameLink { 
	padding: 0px 2px 0px 0px; 
	text-align: left;
}

/* Removes annoying FireFox dotted border */
:focus {
	outline: none;
}

.imageButton, .gwt-Anchor, .previewDisclosureFace {
	cursor: pointer;
	cursor: hand;
}

.userProfileImage {
	margin:auto; 
	display:block;
	border-radius: 3px;
	margin-right: 5px;
	box-shadow: 0 1px 2px #000000;
}

/* Search loading image */
.ui-autocomplete-loading { background: white url('http://jqueryui.com/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat; }


.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.gwt-Hyperlink img {
	text-decoration: none;
}

.iconSpan img {
	position: relative;
	top: 3px;		
}

.gxtGreyBackground {
	background-color: #e8e8e8;
}	

.smallGreyText {
    color: #717171;
	font-size: 10px;
}

.codeContent {
    background-color: #F0F0F0;
    color: #000000;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    overflow: auto;
    padding: 3px;
    text-align: left;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    
    border-width: 1px;
    border: 1px dashed;
	margin: 5px 0 5px 0;
	padding: 5px 8px 5px 8px;
	overflow-x: auto;
}	
	
.suggestSearchTerm {
	color: #7a0402;
	font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
}

.suggestSearchOntology {
	color: #A9A9A9;
	font: 10px;	
}

/* drop shaddow */
.dropshaddow {
	background: #fff;
	border: 1px solid;
	border-color: #dcdcdc #d1d1d1 #c3c3c3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.dropshaddow:nth-child(1n) {
	border: none;
}

/* Rounded corners */
.rounded {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.portal {
	width: 100%;
	padding-top: 5px;
	
}

/* Portal Section header */
.portal h3 {
	clear: both;
	font-variant: small-caps;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
}

.portal h3.top {
	margin-top: 0px;	
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	
}

.portal h2.top {	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

/* Portal Section header */
.portal h2 {
	clear: both;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Search boxes */
.homesearchbox {
	width: 645px;
	margin: 4px 0 0 0;

	height: 25px;
	font-size: 1.6em;

	-moz-box-shadow: black 0 0 0 0;
	-webkit-box-shadow: black 0 0 0 0;
	-o-box-shadow: black 0 0 0 0;
	box-shadow: black 0 0 0 0;
	font-family: "Ubuntu", sans-serif;

	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	border: medium none;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	border: 1px solid #AAA;
	border-image: initial;
	
	vertical-align: middle;
	background: white;	
}

.smallsearchbox {	
	width: 140px;
	margin: 0;
	height: 26px;
	background-color:  #fff;
	font-size: 1.2em;
}

.othersearchbox {	
	margin: 0;
	height: 26px;
	background-color:  #fff;
	font-size: 1.2em;
}

.resultssearchbox {
	width: 500px;
	margin: 0px 0 0 0;
	height: 20px;
	font-size: 1.2em;
}

.hitdescription {
	color: black;
}

.hitattribution {
	color: #508743;
}

.hitBreadcrumbParent {
	color: #b1b1b1;	
}

.hitBreadcrumbElement {
	color: #b1b1b1;
}


.addProjectBox {
	width: 570px;
	margin: 4px 10px 0 0; 
}

/* Clear out GWT's link color */
a, a:visited, a:hover {
  color: inherit;
}

a.shortBtn {		
	display: inline-block; 
	margin: 6px 5px 7px 0px;
	padding:5px;
	color: #ffffff;
	background-color: #666;
	font-style: italic;	
}

.x-form-field-wrap .x-form-list-trigger {
  background-image: url(/images/icons/list-trigger.gif);
}

.image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
}

.preview-image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
	 width: 180px;
	 height: 180px;
}

#alertWrapper {
	position: fixed;
	width: 100%;
	top: 5px;
	left: 0;
}

#alertContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	-moz-box-shadow:0px 1px 2px #aaa;
	-webkit-box-shadow:0px 1px 2px #aaa;
	box-shadow:0px 1px 2px #aaa;
}

.heading {
	font-weight: bold;
	margin-right: 5px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}


.clearleft {
	clear:left;	
}

.user-profile-headline {
}

.user-profile-industry-location {
	margin: 0 0 5px;
	font-style: italic;
}

.user-profile-summary {
	clear: both;
}

.user-profile-linkedin {
	margin-right: 3px;
}
.user-profile-linkedin-bar {
	margin-bottom: 3px !important;
}

.user-profile-change-photo {
}
	
.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}


.user-profile-edit-table td {
	padding-bottom: 5px;
	vertical-align: bottom;
}

.profile-image-loading {
	background: url(images/ui-anim_basic_16x16.gif) no-repeat center center;
	min-width: 50px;
	width: auto !important;
	width: 50px;
	min-height: 50px;
	height: auto !important;
	height:	50px;
}
	
.profile-image-40px {
	width: 40px;	
}

.thumbnail-image-container {
	display: inline-block;	
	width: 40px; 
	height: 40px; 
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.margin-top-left-10 {
	margin-top: 10px;
	margin-left: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}

.margin-left-5 {
	margin-left: 5px;
}
.margin-top-5 {
	margin-top: 5px !important;
}
.margin-top-10 {
	margin-top: 10px;
}

.margin-left-180 {
	margin-left: 180px;
}

.margin-left-35 {
	margin-left: 35px;
}


.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-left-725 {
	margin-left: 725px;
}

.file-preview {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre-wrap;
}
 
.file-preview::after {
    content: "Preview";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}


.markdown {
	word-wrap:break-word;
	overflow: hidden;
	text-align: justify;
}

.markdown ol { 
	list-style-type: decimal;
	padding-left: 24px;
}
.markdown ul { 
	list-style-type: square;
	padding-left: 17px;
}
.markdown strong { font-weight: bold; }
.markdown em { font-style: italic; }
.markdown a, a:hover, a:visited {}
.markdown blockquote {
	margin: 1em 3em;
	padding: .5em 1em;
	border-left: 5px solid #fce27c;
	background-color: #f6ebc1; }

.markdown code {
	background-clip: padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    padding: 0 5px 2px;
    overflow:auto;
    white-space:pre;
}

.apitable label {
	margin-left:5px;
	display:inline;
}

.wiki-description {
	color: #000000;
	font-size: 13px;
}

.entity-description-preview-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px;
}

.font-italic { font-style: italic; }

.public-acl-image {
	background-image: url(images/icons/globe-green-16.png);
	width: 16px;
	height: 16px;
}

.private-acl-image {
	background-image: url(images/icons/lock-grey-16.png);
	width: 16px;
	height: 16px;
}

.inline-block {
	display:inline-block;
}

.font-size-32 {
	font-size: 32px;
	font-family: Yanone Kaffeesatz;
}


.vertical-align-bottom {
	vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
}

.break-word {
	word-wrap: break-word;	
}

.boldText {
	font-weight: bold;	
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

.scroll-auto {
	overflow: auto;
}

.markdown {
	color: #000000;
}

.markdown p {
	margin: 0px;
}

.markdowntable {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.markdowntable td {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px;
}
.markdowntable th {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px;
  font-weight: bold;
}

.markdowntable caption + thead tr:first-child th,
.markdowntable caption + tbody tr:first-child th,
.markdowntable caption + tbody tr:first-child td,
.markdowntable colgroup + thead tr:first-child th,
.markdowntable colgroup + tbody tr:first-child th,
.markdowntable colgroup + tbody tr:first-child td,
.markdowntable thead:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child td {
  border-top: 0;
}
.markdowntable thead:first-child tr:first-child th:first-child,
.markdowntable tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.markdowntable thead:first-child tr:first-child th:last-child,
.markdowntable tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.markdowntable thead:last-child tr:last-child th:first-child,
.markdowntable tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.markdowntable thead:last-child tr:last-child th:last-child,
.markdowntable tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

/** a minimalist table style **/
.mintable table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    border: 0 none;
    outline: 0 none;
    vertical-align: baseline;
}

.mintable table th {
    border-bottom: 2px solid #DDDDDD;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    border-left: 0 none;
}

.mintable table td {
	border-left: 0 none;
	border-top: 0 none;
	padding: 9px 8px 0;	
}

.attachments-widget-row {
	font-weight: normal;color:black; overflow:hidden; text-overflow:ellipsis; width:auto;
}

.pagelist { 
	list-style-type: square;
	padding-left: 17px;
	margin-bottom: 4px;
}

/** content type div sizes *********/
.youtube {
	width: 480px;
	height: 385px;
}
.provenance {
	width: 260px;
	height: 250px;
}
.image{
	max-width: 940px;
}

.max-height-200 {
	max-height: 200px;
}

.wikifilepreview {
	width: 940px;
}

/**********************************/
	
.wikifilepreviewimg {
	margin:auto; 
	display:block;
}
	
.whiteBackground {
	background-color: #fff;
}	
.sidebarMenu { 
	font-weight: bold; 	
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    text-decoration:none;
    padding: 15px 10px;
    cursor: pointer;  
}

.sidebarMenuSelected {
	background-color: #bfbfbf; 
	text-decoration:none; 
}

.sidebarMenu:hover { 
	background-color: #efefef; 
	text-decoration:none; 
}

.gwt-TreeItem-selected {
  background: #ffffff !important;
  text-decoration:underline;
}

/**table of contents styling **/
/** .8em to 1.2em **/
.toc-indent4 {
	font-size: .8em;
	margin-left: 40px;
}
.toc-indent0 {
	font-size: 1.2em;
	margin-left: 0px;
}
.toc-indent1 {
	font-size: 1.1em;
	margin-left: 10px;
}
.toc-indent2 {
	font-size: 1.0em;
	margin-left: 20px;
}
.toc-indent3 {
	font-size: 0.9em;
	margin-left: 30px;
}	

strong {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
ol.decimal {	
	list-style: decimal outside;
	padding: 0 0 0 30px;
}
ol.loweralpha {	
	list-style: lower-alpha outside;
	padding: 0 0 0 30px;
}
ol.lowerroman {	
	list-style: lower-roman outside;
	padding: 0 0 0 30px;
}
.blackText {
	color: #000000;
}

.pagesTree img{
	padding-right:7px;
}

.pagesTree a{
	font-family: Verdana,Arial,sans-serif;
	font-size: 13px;
}
.padding-top-15 {
	padding-top: 15px;
}
.howToUseLink {
	font-size: 16px;
	font-style: normal !important;
}
.whatIsSynapseText {
	font-size: 13px;
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signinInput {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-inputButton {
	margin-bottom:6px !important;
}

.displayInline {
	display: inline;
}

.smallerText {
	font-size: 0.8em;
}

.widgetContainer {
	overflow-x: auto;
	display: inline;
}

.myEvaluationListContainer {
	border:1px solid #D0D0D0; 
	padding-left:7px;
	margin-bottom: 35px;
}

.myEvaluationLink,.myEvaluationLink:hover,.myEvaluationLink:visited{
	color: black;
    display: inline-block;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding: 0 0 5px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
    vertical-align: middle;
}


.align-center {display: block; margin-left: auto; margin-right: auto;}

.highlighted-version {
    font-size: 11px !important;
    color: black !important;
}

.not-highlighted-version {
	color: #d3d3d3 !important;
}