/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
/* h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
} */

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.cellTableHyperLinkColumn {
	border: 1px solid black;
	font-size: 2em;
	font-weight: bold;
	color: blue;
	text-align: right;
}

.datasetLayerColumn {
	text-align: left;
	width: 0px;
}

.mainPageHeader {
	border: 1px solid black;
	padding: 10px;
}

.boldRight {
	text-align: left;
	width: 100px;
	color: #939598;
	font-size: 11px;
}

/* Removes annoying FireFox dotted border */
:focus {
	outline: none;
}

.imageButton, .gwt-Anchor, .previewDisclosureFace {
	cursor: pointer;
	cursor: hand;
}

/* Search loading image */
.ui-autocomplete-loading { background: white url('http://jqueryui.com/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat; }


.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.gwt-Hyperlink img {
	text-decoration: none;
}

.iconSpan img {
	position: relative;
	top: 3px;		
}

.gxtGreyBackground {
	background-color: #e8e8e8;
}	

.smallGreyText {
    color: #717171;
	font-size: 10px;
}

.codeContent {
    background-color: #F0F0F0;
    color: #000000;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    word-wrap: break-word;
    overflow: auto;
    padding: 3px;
    text-align: left;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    
    border-width: 1px;
    border: 1px dashed;
	margin: 5px 0 5px 0;
	padding: 5px 8px 5px 8px;
}	
	
	
.suggestSearchTerm {
	color: #7a0402;
	font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
}

.suggestSearchOntology {
	color: #A9A9A9;
	font: 10px;	
}

/* drop shaddow */
.dropshaddow {
	background: #fff;
	border: 1px solid;
	border-color: #dcdcdc #d1d1d1 #c3c3c3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.dropshaddow:nth-child(1n) {
	border: none;
}

/* Rounded corners */
.rounded {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.portal {
	width: 100%;
	padding-top: 5px;
	
}

/* Portal Section header */
.portal h3 {
	clear: both;
	font-variant: small-caps;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
}

.portal h3.top {
	margin-top: 0px;	
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	
}

.portal h2.top {	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

/* Portal Section header */
.portal h2 {
	clear: both;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Search boxes */
.homesearchbox {
	width: 645px;
	margin: 4px 0 0 0;

	height: 25px;
	font-size: 1.6em;

	-moz-box-shadow: black 0 0 0 0;
	-webkit-box-shadow: black 0 0 0 0;
	-o-box-shadow: black 0 0 0 0;
	box-shadow: black 0 0 0 0;
	font-family: "Ubuntu", sans-serif;

	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	border: medium none;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	border: 1px solid #AAA;
	border-image: initial;
	
	vertical-align: middle;
	background: white;	
}

.smallsearchbox {	
	width: 140px;
	margin: 0;
	height: 26px;
	background-color:  #fff;
	font-size: 1.2em;
}

.resultssearchbox {
	width: 500px;
	margin: 0px 0 0 0;
	height: 20px;
	font-size: 1.2em;
}

.hitdescription {
	color: black;
}

.hitattribution {
	color: #508743;
}

.hitBreadcrumbParent {
	color: #b1b1b1;	
}

.hitBreadcrumbElement {
	color: #595959;
}


.addProjectBox {
	width: 570px;
	margin: 4px 10px 0 0; 
}



/* Clear out GWT's link color */
a, a:visited, a:hover {
  color: inherit;
}

a.shortBtn {		
	display: inline-block; 
	margin: 6px 5px 7px 0px;
	padding:5px;
	color: #ffffff;
	background-color: #666;
	font-style: italic;	
}

.x-form-field-wrap .x-form-list-trigger {
  background-image: url(/images/icons/list-trigger.gif);
}

.image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
}

.preview-image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
	 width: 180px;
	 height: 180px;
}

#alertWrapper {
	position: absolute;
	width: 100%;
	top: 5px;
	left: 0;
}

#alertContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	-moz-box-shadow:0px 1px 2px #aaa;
	-webkit-box-shadow:0px 1px 2px #aaa;
	box-shadow:0px 1px 2px #aaa;
}

.heading {
	font-weight: bold;
	margin-right: 5px;
}







	
