/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
/* h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
} */

.sf-j-menu {
	float: right !important;
	margin-bottom: 1em;
	margin-top: 2em;
	font-size:10px;
	font-family:Oswald;
}

.sf-j-menu td {
	padding: 5px 0px 4px 15px;
	vertical-align: middle !important;
}

.header-inner-commands-container {
	border-radius: 0.2em;
	height: 23px;
}
.header-inner-commands-container td {
	padding: 3px 7px 3px 7px;
}

.markdown-editor-commands-container {
	border-radius: 0.2em;
}
.markdown-editor-commands-container td {
	padding: 3px 0px 3px 3px;
}


.header-username-picture-container {
	border: solid #ccc;
	border-width:0.1em;
	border-radius:0.4em;
}
.header-username-picture-container td {
	padding: 2px 4px 2px 3px;
}

.light-border {
	border: solid #ccc;
	border-width:0.1em;
	border-radius:0.4em;
	padding: 2px 4px 2px 3px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.cellTableHyperLinkColumn {
	border: 1px solid black;
	font-size: 2em;
	font-weight: bold;
	color: blue;
	text-align: right;
}

.datasetLayerColumn {
	text-align: left;
	width: 0px;
}

.mainPageHeader {
	border: 1px solid black;
	padding: 10px;
}

.mainPageLoading {
	border: 0;
	padding: 10px;
}

.boldRight {
	text-align: left;
	width: 100px;
	color: #939598;
	font-size: 11px;
}

.nobordertable-imp td {
  border: 0px !important;
  padding: 0px;
}
.nobordertable-imp th {
  border: 0px !important;
  padding: 0px;
}

.downloadLink,.downloadLink:hover,.downloadLink:visited { text-decoration:underline; margin-left:5px;}

/* header links. transition from grey to black on hover, don't underline */
.headerLink { line-height: 25px; font-size: 13px; font-weight: bold; color: #6e6e6e; padding: 0px 2px 0px 4px;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s; }
.headerLink:hover { color: #BC3226; text-decoration:none; }

.headerUsernameLink { 
	font-weight: bold; 
	color: #6e6e6e !important; 
	padding: 0px 2px 0px 0px; 
	text-align: left;
}

.usernameLink { 
	padding: 0px 2px 0px 0px; 
	text-align: left;
}

/* Removes annoying FireFox dotted border */
:focus {
	outline: none;
}

.imageButton, .gwt-Anchor, .previewDisclosureFace {
	cursor: pointer;
	cursor: hand;
}

.userProfileImage {
	border-radius: 3px;
}

/* Search loading image */
.ui-autocomplete-loading { background: white url('http://jqueryui.com/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat; }


.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    text-decoration: none;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.gwt-Hyperlink img {
	text-decoration: none;
}

.iconSpan img {
	position: relative;
	top: -2px;		
}

.gxtGreyBackground {
	background-color: #e8e8e8;
}	

.smallGreyText {
    color: #717171;
	font-size: 10px;
}

.codeContent {
    background-color: #F0F0F0;
    color: #000000;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    overflow: auto;
    padding: 3px;
    text-align: left;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    
    border-width: 1px;
    border: 1px dashed;
	margin: 5px 0 5px 0;
	padding: 5px 8px 5px 8px;
	overflow-x: auto;
}	
	
.suggestSearchTerm {
	color: #7a0402;
	font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
}

.suggestSearchOntology {
	color: #A9A9A9;
	font: 10px;	
}

/* drop shaddow */
.dropshaddow {
	background: #fff;
	border: 1px solid;
	border-color: #dcdcdc #d1d1d1 #c3c3c3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.dropshaddow:nth-child(1n) {
	border: none;
}

/* Rounded corners */
.rounded {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.portal {
	width: 100%;
	padding-top: 5px;
	
}

/* Portal Section header */
.portal h3 {
	clear: both;
	font-variant: small-caps;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
}

.portal h3.top {
	margin-top: 0px;	
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	
}

.portal h2.top {	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	
}

/* Portal Section header */
.portal h2 {
	clear: both;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/* Search boxes */
.homesearchbox {
	width: 645px;
	margin: 4px 0 0 0;

	height: 25px;
	font-size: 1.6em;

	-moz-box-shadow: black 0 0 0 0;
	-webkit-box-shadow: black 0 0 0 0;
	-o-box-shadow: black 0 0 0 0;
	box-shadow: black 0 0 0 0;
	font-family: "Ubuntu", sans-serif;

	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
	border: medium none;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	border: 1px solid #AAA;
	border-image: initial;
	
	vertical-align: middle;
	background: white;	
}

.smallsearchbox {		
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-rtl-ordering: logical;
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-property: border, box-shadow;
	-webkit-transition-timing-function: linear, linear;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	color: rgb(85, 85, 85);
	cursor: auto;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	height: 26px;
	letter-spacing: normal;
	line-height: 20px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	transition-delay: 0s, 0s;
	transition-duration: 0.2s, 0.2s;
	transition-property: border, box-shadow;
	transition-timing-function: linear, linear;
	vertical-align: middle;
	width: 206px;
	word-spacing: 0px;
	writing-mode: lr-tb;
}

.othersearchbox {	
	margin: 0;
	height: 26px;
	background-color:  #fff;
	font-size: 1.2em;
}

.resultssearchbox {
	width: 500px;
	margin: 0px 0 0 0;
	height: 20px;
	font-size: 1.2em;
}

.hitdescription {
	color: black;
}

.hitattribution {
	color: #508743;
}

.hitBreadcrumbParent {
	color: #b1b1b1;	
}

.hitBreadcrumbElement {
	color: #b1b1b1;
}


.addProjectBox {
	width: 570px;
	margin: 4px 10px 0 0; 
}

/* Clear out GWT's link color */
a, a:visited, a:hover {
  color: inherit;
}

a.shortBtn {		
	display: inline-block; 
	margin: 6px 5px 7px 0px;
	padding:5px;
	color: #ffffff;
	background-color: #666;
	font-style: italic;	
}

.x-form-field-wrap .x-form-list-trigger {
  background-image: url(/images/icons/list-trigger.gif);
}

.image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
}

.preview-image-loading {
	 background: white url(images/ui-anim_basic_16x16.gif) no-repeat center center;
	 width: 180px;
	 height: 180px;
}

#alertWrapper {
	position: fixed;
	width: 100%;
	top: 5px;
	left: 0;
	z-index: 100;
}

#alertContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.alert {
	-moz-box-shadow:0px 1px 2px #aaa;
	-webkit-box-shadow:0px 1px 2px #aaa;
	box-shadow:0px 1px 2px #aaa;
}

.heading {
	font-weight: bold;
	margin-right: 5px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.autoheight {
	height: auto;
}

.autowidth {
	width: auto;
}

.clearleft {
	clear:left;	
}

.user-profile-headline {
}

.user-profile-industry-location {
	margin: 0 0 5px;
	font-style: italic;
}

.user-profile-summary {
	clear: both;
}

.user-profile-change-photo {
}
	
.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-0-imp-before:before {
	margin: 0px !important;
}

.user-profile-edit-table td {
	padding-bottom: 5px;
	vertical-align: bottom;
}

.profile-image-loading {
	background: url(images/ui-anim_basic_16x16.gif) no-repeat center center;
	min-width: 50px;
	width: auto !important;
	width: 50px;
	min-height: 50px;
	height: auto !important;
	height:	50px;
}

.min-height-500 {
	min-height: 500px;
}
.min-height-400 {
	min-height: 400px;
}

.profile-image-40px {
	width: 40px;	
}

.thumbnail-image-container {
	display: inline-block;	
	width: 40px; 
	height: 40px; 
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.tiny-thumbnail-image-container {
	display: inline-block;	
	width: 20px; 
	height: 20px; 
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}


.margin-10 {
	margin: 10px;
}

.margin-top-left-10 {
	margin-top: 10px;
	margin-left: 10px;
}
.margin-left-9 {
	margin-left: 9px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-left-15 {
	margin-left: 15px;
}

.margin-right-15 {
	margin-right: 15px;
}
.margin-left-2 {
	margin-left: 2px;
}
.margin-left-5 {
	margin-left: 5px;
}
.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10-imp {
	margin-top: 10px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-left-180 {
	margin-left: 180px;
}

.margin-left-35 {
	margin-left: 35px;
}


.margin-bottom-60 {
	margin-bottom: 60px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-bottom-0-imp {
	margin-bottom: 0px !important;
}


.margin-left-725 {
	margin-left: 725px;
}

.margin-left-0-important {
	margin-left: 0px !important;
}

.margin-left-neg-15 {
	margin-left: -15px;
}

.margin-right-neg-15 {
	margin-right: -15px;
}

.tab-background {
	background-color: #f9f9f9;
}

.file-preview {
    position: relative;
    margin: 15px 0;
    padding: 30px 3px 3px 3px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre-wrap;
}
 
.file-preview::after {
    content: attr(title);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.markdownEditor {
    font-family: Lucida Console, monospace !important;
    font-size: 13px;
}

.markdown {
	word-wrap:break-word;
	overflow: hidden;
	text-align: justify;
	font-size: 13px; /* Body font-size defined by Svarog as 12px, bootstrap as 14px */
}

.markdown ol { 
	list-style-type: decimal;
	padding-left: 24px;
}
.markdown ul { 
	list-style-type: square;
	padding-left: 17px;
}
.markdown strong { font-weight: bold; }
.markdown del { text-decoration: line-through; }
.markdown em { font-style: italic; }
.markdown a, a:hover, a:visited {}
.markdown blockquote {
	margin: 1em 3em;
	padding: 0.5em 1em;
	background-color: #fcf8f2;
	border-left: 3px solid #f0ad4e;
}

.markdown blockquote h4, .markdown blockquote h3, .markdown blockquote h2, .markdown blockquote h1 {
	color: #f0ad4e;
}

.markdown code {
	background-clip: padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    padding: 0 5px 2px;
    overflow:auto;
    white-space:pre;
    word-wrap: normal;
}

.apitable label {
	margin-left:5px;
	display:inline;
}

.wiki-description {
	color: #000000;
	font-size: 13px;
}

.entity-description-preview-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px;
}

.font-italic { font-style: italic; }

.public-acl-image {
	background-image: url(images/icons/globe-green-16.png);
	width: 16px;
	height: 16px;
}

.private-acl-image {
	background-image: url(images/icons/lock-grey-16.png);
	width: 16px;
	height: 16px;
}

.inline-block {
	display:inline-block;
}

.font-size-32 {
	font-size: 32px;
	font-family: Yanone Kaffeesatz;
}

.font-size-150 {
	font-size: 150px;
}

.font-size-90 {
	font-size: 90px;
}

.font-size-58 {
	font-size: 58px;
}
.font-size-22 {
	font-size: 22px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-15 {
	font-size: 15px;
}
.font-size-13 {
	font-size: 13px;
}

.vertical-align-bottom {
	vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
}

.break-word {
	word-wrap: break-word;	
}

.boldText {
	font-weight: bold;	
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

.scroll-auto {
	overflow: auto;
}

.maxWidth100 {
	max-width: 100%;
}

.markdown {
	color: #000000;
}

.markdown p {
	margin: 0px;
}

.previewtable {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.previewtable tbody td {
	border: 1px solid #EDEDED;
	padding: 4px;
}

.markdowntable {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: auto !important;
}

.markdowntable td {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px;
}
.markdowntable th {
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 2px 4px;
  font-weight: bold;
}

/* Markdown table styles */
.markdowntable.text-align-center {
	text-align: center;
}

.markdowntable.text-align-right {
	text-align: right;
}

.markdowntable.border {
    border: 2px solid #dddddd;
}

/* Wrap styles will apply to short tables */
.markdowntableWrap {
    width:100%;
    height:400px;
    overflow-y:scroll;
}

.markdowntable caption + thead tr:first-child th,
.markdowntable caption + tbody tr:first-child th,
.markdowntable caption + tbody tr:first-child td,
.markdowntable colgroup + thead tr:first-child th,
.markdowntable colgroup + tbody tr:first-child th,
.markdowntable colgroup + tbody tr:first-child td,
.markdowntable thead:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child th,
.markdowntable tbody:first-child tr:first-child td {
  border-top: 0;
}
.markdowntable thead:first-child tr:first-child th:first-child,
.markdowntable tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.markdowntable thead:first-child tr:first-child th:last-child,
.markdowntable tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.markdowntable thead:last-child tr:last-child th:first-child,
.markdowntable tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.markdowntable thead:last-child tr:last-child th:last-child,
.markdowntable tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.attachments-widget-row {
	font-weight: normal;color:black; overflow:hidden; text-overflow:ellipsis; width:auto;
}

.pagelist { 
	list-style-type: square;
	padding-left: 17px;
	margin-bottom: 4px;
}

/** WikiPage Markdown History Widget **/
.wikiHistoryButton {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.wikiVersionNotice {
	font-size: 15px;		
}

.markdownHi

/** content type div sizes *********/
.youtube {
	width: 480px;
	height: 385px;
}
.provenance {
	width: 260px;
	height: 250px;
}
.image{
	max-width: 940px;
}

.max-width-460 {
	max-width: 460px;
}

.max-height-200 {
	max-height: 200px;
}

.wikifilepreview {
	width: 940px;
}

/**********************************/
	
.wikifilepreviewimg {
	margin:auto; 
	display:block;
}
	
.noBackground {
	background: none !important;
}
.whiteBackground {
	background-color: #fff;
}

.whiteBackgroundGxt em, .whiteBackgroundGxt button {
	background-color: #fff !important;
}	

.sidebarMenu { 
	font-weight: bold; 	
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    text-decoration:none;
    padding: 15px 10px;
    cursor: pointer;  
}

.sidebarMenuSelected {
	background-color: #bfbfbf; 
	text-decoration:none; 
}

.sidebarMenu:hover { 
	background-color: #efefef; 
	text-decoration:none; 
}

.gwt-TreeItem-selected {
  background: #ffffff !important;
  text-decoration:underline;
}

/**table of contents styling **/
/** .8em to 1.2em **/
.toc-indent4 {
	font-size: .8em;
	margin-left: 125px;
}
.toc-indent0 {
	font-size: 1.2em;
	margin-left: 5px;
}
.toc-indent1 {
	font-size: 1.1em;
	margin-left: 35px;
}
.toc-indent2 {
	font-size: 1.0em;
	margin-left: 65px;
}
.toc-indent3 {
	font-size: 0.9em;
	margin-left: 95px;
}	

strong {
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
ol.decimal {	
	list-style: decimal outside;
	padding: 0 0 0 30px;
}
ol.loweralpha {	
	list-style: lower-alpha outside;
	padding: 0 0 0 30px;
}
ol.lowerroman {	
	list-style: lower-roman outside;
	padding: 0 0 0 30px;
}
.blackText {
	color: #000000;
}

.blackText-imp {
	color: #000000 !important;
}

.greyText-imp {
    color: #717171 !important;
}

.lightGreyText {
	color: #909090;
}


.pagesTree {
	overflow: hidden !important;	
}

.pagesTree span{
	font-family: Verdana,Arial,sans-serif;
	font-size: 13px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-15-imp {
	padding-top: 15px !important;
}


.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-5 {
	padding: 5px;
}

.padding-2 {
	padding: 2px;
}


.howToUseLink {
	font-size: 16px;
	font-style: normal !important;
}
.whatIsSynapseText {
	font-size: 13px;
}


.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signinInput {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-inputButton {
	margin-bottom:6px !important;
}

.displayInline {
	display: inline;
}

.smallerText {
	font-size: 0.8em;
}

.smallestText {
	font-size: 0.4em;
}

.biggerText {
	font-size: 1.2em;
}


.widgetContainer {
	overflow-x: auto;
	display: inline;
}

.overflow-auto {
	overflow: auto;
}

.inlineWidgetContainer {
	overflow-x: auto;
	display: inline-block;
	position: relative;
	top: 4px;
}

.myEvaluationListContainer {
	border:1px solid #D0D0D0; 
	padding-left:7px;
	margin-bottom: 35px;
}

.myEvaluationLink,.myEvaluationLink:hover,.myEvaluationLink:visited{
	color: black;
    display: inline-block;
    font: 11px arial,tahoma,helvetica,sans-serif;
    overflow: hidden;
    padding: 0 0 0px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
    vertical-align: middle;
}


.align-center {display: block; margin-left: auto; margin-right: auto;}
.text-align-center { text-align: center;}

.bottomright {position:absolute; bottom:0; right: 0; margin:7px;}

.highlighted-version {
    font-size: 11px !important;
    color: black !important;
}

.not-highlighted-version {
	color: #d3d3d3 !important;
}

.topLevelZIndex {
	z-index: 2000;
}

.gwt-PopupPanel {
	padding-bottom: 9px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 9px;

	text-align: left;
	white-space: normal;
	
	font-size: 11px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	max-width: 200px;
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.moveup-8 {
	position: relative;
	top: -8px;
}

.moveup-5 {
	position: relative;
	top: -5px;
}

.moveup-4 {
	position: relative;
	top: -4px;
}

.moveup-2 {
	position: relative;
	top: -2px;
}


.movedown-1 {
	position: relative;
	top: 1px;
}

.movedown-2 {
	position: relative;
	top: 2px;
}

.movedown-4 {
	position: relative;
	top: 4px;
}


.highlight-box {
    position: relative;
    margin-top: 15px;
    padding: 47px 3px 6px 11px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: normal;
}

.highlight-box::after {
    content: attr(highlight-box-title);
    position: absolute;
    top: 6px;
    left: 6px;
	color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
    padding: 3px 7px;
    position: absolute;    
}

.highlight-line {
    padding: 18px;
}

.highlight-line-min {
    padding: 5px;
}

.line-height-1-7em-imp {
	line-height:1.7em !important;	
}


.fixedWidthFont {
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    font-family: Courier,monospace;
    font-size: 11px;
    line-height: 13px;
}	

.padding-top-5 {
	margin-top: 5px;
    position: absolute;
}

.fileTabTopPadding {
	padding-top: 5px;
}

.hide {
	display: none;
}

.no-background {
  background-image: none !important;
}

.margin-top-4 {
	margin-top: 4px !important;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-top-10-imp {
	margin-top: 10px !important;
}

.small-header {
	height: 45px;
}

.largeHeader {
	height: 90px;
}

.vertical-align-middle {
	vertical-align: middle;
}

.member-search-button {
	font-size: 12px !important;
	width: 120px;
}

.separator-margin {	margin-top: 40px; margin-bottom: 40px; }
.separator-margin-top {	margin-top: 40px; }
.separator-header-home { margin-top: 20px; }
.separator-header-page { margin-top: 3px; }

/*============================*/
/* Custom Carousel Control */
.carousel-control-clean {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.carousel-control-clean.left {
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.2) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control-clean.right {
  right: 0;
  left: auto;
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.2) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.2) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control-clean:hover,
.carousel-control-clean:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control-clean .icon-prev,
.carousel-control-clean .icon-next,
.carousel-control-clean .glyphicon-chevron-left,
.carousel-control-clean .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control-clean .icon-prev,
.carousel-control-clean .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control-clean .icon-prev:before {
  content: '\2039';
}

.carousel-control-clean .icon-next:before {
  content: '\203a';
}

.projectTitle {
	color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 28px;
    cursor: pointer;
}
a.projectTitle:hover {
	text-decoration: underline;
	color: #555;
} 

.dropLargeIconText {
	position: relative;
	top: 4px;
}

.liftLargeIcon {
	position: relative;
	top: -4px;
}

.display-table {
	display: table;
}

.tabLabel {
    position: absolute;
    top: 4px;
    font-size: 10px;
}

.entity-tab {
	width: 140px;
	font-size: 16px;	
}

.rowAdaptiveHeight{
    overflow: hidden; 
}

.colAdaptiveHeight{ 
    margin-bottom: -99999px;
    padding-bottom: 99999px;  
}

.previewPreMaxHeight {
	max-height: 206px;
}

.padding-right-5 {
	padding-right: 5px;
}
.padding-right-15 {
	padding-right: 15px !important;
}

.padding-left-0 {
	padding-left: 0px;
}
.padding-left-5 {
	padding-left: 5px;
}
.padding-left-5-imp {
	padding-left: 5px !important;
}

.padding-left-10 {
	padding-left: 10px;
}
.padding-left-30 {
	padding-left: 30px;
}

.padding-left-74 {
	padding-left:74px;
}

.updateTeamIconLink {
	padding: 0px 0px 10px 0px;
	font-size: 12px;
}

.dropText-10 {
	position: relative;
	top: 10px;
}

.width-150 {
	width: 150px;
}

.signin-panel input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.signin-panel input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signin-panel .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.signin-panel .form-control:focus {
  z-index: 2;
}

.overflow-x-auto {
	overflow-x: auto;

}
.double-border {
	border: 1px double #000;
	outline: 2px solid #717171;
	outline-offset: -9px;
}

.font-family-cursive {
	font-family: "Brush Script MT", cursive;
}

.fullOpacityImp {
	opacity: 1 !important;
}

/*==================================*/
/* GXT Overrides */
.x-tree3-node-text {
	top: 1px !important;
}

/*
 * Bootstrap Overrides 
 */
.entity-tabs > li.active > a,
.entity-tabs > li.active > a:hover,
.entity-tabs > li.active > a:focus {
	background-color: #f9f9f9;
	cursor: pointer;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* modified snippet from Bootstrap docs.css for Wiki Subpage style (minus the hidden sublists) */
/* By default it's not affixed in mobile views, so undo that */

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
}

.bs-sidebar {
  padding: 5px 10px 30px 0px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #BC3226;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration:underline;
  background-color: transparent;
  border-right: 1px solid #BC3226;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: black;
  text-decoration:none;
  background-color: transparent;
  border-right: 0px;
}

.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
.bs-sidebar .nav .nav .nav > li > a {
  padding-left: 40px;
  font-size: 80%;
}
.bs-sidebar .nav .nav .nav .nav > li > a {
  padding-left: 50px;
}
.bs-sidebar .nav .nav .nav .nav .nav > li > a {
  padding-left: 60px;
}
.bs-sidebar .nav .nav .nav .nav .nav .nav > li > a {
  padding-left: 70px;
}
.bs-sidebar .nav .nav .nav .nav .nav .nav .nav > li > a {
  padding-left: 80px;
}
.bs-sidebar .nav .nav .nav .nav .nav .nav .nav .nav > li > a {
  padding-left: 90px;
}
/*===========*/

.largeIconButton {
	font-size: 22px;
	line-height: 30px;
	color: #000000;
}
.largeIconShiftUp {
	position: relative; 
	top:-7px;
}

.text-align-right {
	text-align: right;
}

.inlineField {
	overflow: hidden; 
	padding-right: .5em;	
}

.text-danger-imp {
	color: #f94e4b !important;
}

/**Override JQuery table styles **/
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp, table.tablesorter thead tr .header  {
    background-color: #FAFAFA !important;
    background-image: none !important;
}


/* --- Date Picker Styles --- */
.gwt-DatePicker {
  border: 1px solid #ccc;
  border-top:1px solid #999;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none;
}
.datePickerMonthSelector td:focus {
  outline: none;
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 85%;
  text-align: center;
  padding: 4px;
  outline: none;
  font-weight:bold;
  color:#333;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #fff;
  padding: 0px 4px 2px;
  cursor: default;
  color:#666;
  font-size:70%;
  font-weight:normal;
}
.datePickerDay {
  padding: 4px 7px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsWeekend {
  background: #f7f7f7;
}
.datePickerDayIsFiller {
  color: #999;
  font-weight:normal;
}
.datePickerDayIsValue {
  background: #d7dfe8;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #d7dfe8;
}
.datePickerDayIsToday {
  padding: 3px;
  color: #fff;
  background: url(images/hborder.png) repeat-x 0px -2607px;
}
.datePickerMonthSelector {
  width: 100%;
  padding: 1px 0 5px 0;
  background: #fff;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: #3a6aad;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 4px;
  outline: none;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}
.gwt-DateBox {
  padding: 5px 4px;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  font-size: 100%;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
}

.border-bottom-1 {
  border-bottom: 1px solid #dddddd;
}
