<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- The context params that read by ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/portal-context.xml</param-value>
	</context-param>

	<!-- This is required for logging: see http://logging.apache.org/log4j/2.x/manual/webapp.html -->
	<listener>
		<listener-class>org.apache.logging.log4j.core.web.Log4jServletContextListener</listener-class>
	</listener>
	<!-- This is required for logging: see http://logging.apache.org/log4j/2.x/manual/webapp.html -->
	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.core.web.Log4jServletFilter</filter-class>
	</filter>
	<!-- This is required for logging: see http://logging.apache.org/log4j/2.x/manual/webapp.html -->
	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	


	<!-- This listener will load other application context file in addition 
		to springweb-servlet.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>sslFilter</filter-name>
		<filter-class>org.sagebionetworks.web.server.servlet.filter.SSLFilter</filter-class>
	</filter>
	<filter>
		<filter-name>crawlFilter</filter-name>
		<filter-class>org.sagebionetworks.web.server.servlet.filter.CrawlFilter</filter-class>
	</filter>
	<filter>
		<filter-name>cacheFilter</filter-name>
		<filter-class>org.sagebionetworks.web.server.servlet.filter.GWTCacheControlFilter</filter-class>
	</filter>
	<filter>
		<filter-name>xFilter</filter-name>
		<filter-class>org.sagebionetworks.web.server.servlet.filter.XFilter</filter-class>
	</filter>
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>sslFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>crawlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>cacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>xFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<!-- This filter allows us to use Guice for dependency injection in the 
		server side servlets -->


	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- This is where we register the ServerModule containing all of the mapping 
		with Guice. -->
	<listener>
		<listener-class>org.sagebionetworks.web.server.PortalContextListner</listener-class>
	</listener>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Portal.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/Portal/junithost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>jUnitHostImpl</servlet-name>
	  <url-pattern>/Portal/remote_logging</url-pattern>
	</servlet-mapping>
</web-app>
