.provEntityNode {
	opacity:0.9; 
	filter:alpha(opacity=80); 
	width:96px; 
	height:46.8px;
	padding-top: 2.4px;  
	z-index:20; 
	position:absolute;
	top: 28.8px; 
	color:black;
	font-family:helvetica, sans; 
	font-size:12px;
	text-align:center;	
	background-repeat: no-repeat;	
	background-position: 42px 0px;
}

.provActivityNode { 
	border:0.1em dotted #ccc; 
	opacity:0.9; 
	filter:alpha(opacity=80); 
	width: 132px;
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	padding-top:3px; 	
	font-size:12px;	

	box-shadow: 2px 2px 10px #aaa;
   -o-box-shadow: 2px 2px 10px #aaa;
   -webkit-box-shadow: 2px 2px 10px #aaa;
   -moz-box-shadow: 2px 2px 10px #aaa;
   -moz-border-radius:3px;
	border-radius:4px;
}

.provActivityNode .provActivityLabel {
	font-size: 9.6px;
	line-height: 10px;
	text-transform: uppercase;
	word-wrap: break-word;
	font-weight: bold;
}

.provActivityNode .provActivityLabelTime  {
	font-size: 9.6px;
	line-height: 10px;
	text-transform: uppercase;
	word-wrap: break-word;
}


.provActivityNode .provActivityUndefinedIcon {
	margin-top: -2.4px;
}

.provActivityNode .provEntityNode {
	position: absolute;
	top: 21.6px;
	left: 6px;
}

.provExpandNode {
	opacity:0.8; 
	filter:alpha(opacity=80); 
	width:32.4px; height:16.8px; 
	z-index:20; 
	position:absolute;	
	color:black;
	font-family:helvetica, sans;
	padding-top:0px; 
	font-size:12px;
	text-align:center;	
}

.provUndefinedChange {
	background-repeat: no-repeat;	
	background-position: 48px 20.4px;
	text-align: center;

} 

.provVersionDisplay {
	font-size: 9.6px;
	margin-top: -4.8px;
}
